{% extends "mybase.html" %} <!--this means that you are extending the base tempate -->
{% block graphop %} <!-- this is the name of the block below --> 
<!-- START SIGMA IMPORTS -->
<script src="static/src/sigma.core.js"></script>
<script src="static/src/conrad.js"></script>
<script src="static/src/utils/sigma.utils.js"></script>
<script src="static/src/utils/sigma.polyfills.js"></script>
<script src="static/src/sigma.settings.js"></script>
<script src="static/src/classes/sigma.classes.dispatcher.js"></script>
<script src="static/src/classes/sigma.classes.configurable.js"></script>
<script src="static/src/classes/sigma.classes.graph.js"></script>
<script src="static/src/classes/sigma.classes.camera.js"></script>
<script src="static/src/classes/sigma.classes.quad.js"></script>
<script src="static/src/classes/sigma.classes.edgequad.js"></script>
<script src="static/src/captors/sigma.captors.mouse.js"></script>
<script src="static/src/captors/sigma.captors.touch.js"></script>
<script src="static/src/renderers/sigma.renderers.canvas.js"></script>
<script src="static/src/renderers/sigma.renderers.webgl.js"></script>
<script src="static/src/renderers/sigma.renderers.svg.js"></script>
<script src="static/src/renderers/sigma.renderers.def.js"></script>
<script src="static/src/renderers/webgl/sigma.webgl.nodes.def.js"></script>
<script src="static/src/renderers/webgl/sigma.webgl.nodes.fast.js"></script>
<script src="static/src/renderers/webgl/sigma.webgl.edges.def.js"></script>
<script src="static/src/renderers/webgl/sigma.webgl.edges.fast.js"></script>
<script src="static/src/renderers/webgl/sigma.webgl.edges.arrow.js"></script>
<script src="static/src/renderers/canvas/sigma.canvas.labels.def.js"></script>
<script src="static/src/renderers/canvas/sigma.canvas.hovers.def.js"></script>
<script src="static/src/renderers/canvas/sigma.canvas.nodes.def.js"></script>
<script src="static/src/renderers/canvas/sigma.canvas.edges.def.js"></script>
<script src="static/src/renderers/canvas/sigma.canvas.edges.curve.js"></script>
<script src="static/src/renderers/canvas/sigma.canvas.edges.arrow.js"></script>
<script src="static/src/renderers/canvas/sigma.canvas.edges.curvedArrow.js"></script>
<script src="static/src/renderers/canvas/sigma.canvas.edgehovers.def.js"></script>
<script src="static/src/renderers/canvas/sigma.canvas.edgehovers.curve.js"></script>
<script src="static/src/renderers/canvas/sigma.canvas.edgehovers.arrow.js"></script>
<script src="static/src/renderers/canvas/sigma.canvas.edgehovers.curvedArrow.js"></script>
<script src="static/src/renderers/canvas/sigma.canvas.extremities.def.js"></script>
<script src="static/src/renderers/svg/sigma.svg.utils.js"></script>
<script src="static/src/renderers/svg/sigma.svg.nodes.def.js"></script>
<script src="static/src/renderers/svg/sigma.svg.edges.def.js"></script>
<script src="static/src/renderers/svg/sigma.svg.edges.curve.js"></script>
<script src="static/src/renderers/svg/sigma.svg.labels.def.js"></script>
<script src="static/src/renderers/svg/sigma.svg.hovers.def.js"></script>
<script src="static/src/middlewares/sigma.middlewares.rescale.js"></script>
<script src="static/src/middlewares/sigma.middlewares.copy.js"></script>
<script src="static/src/misc/sigma.misc.animation.js"></script>
<script src="static/src/misc/sigma.misc.bindEvents.js"></script>
<script src="static/src/misc/sigma.misc.bindDOMEvents.js"></script>
<script src="static/src/misc/sigma.misc.drawHovers.js"></script>
<!-- END SIGMA IMPORTS -->
<script src="static/plugins/sigma.parsers.json/sigma.parsers.json.js"></script>
<script src="static/plugins/sigma.layout.forceAtlas2/worker.js"></script>
<script src="static/plugins/sigma.layout.forceAtlas2/supervisor.js"></script>
<script src="static/plugins/sigma.renderers.parallelEdges/utils.js"></script>
<script src="static/plugins/sigma.renderers.parallelEdges/sigma.canvas.edges.curve.js"></script>
<script src="static/plugins/sigma.renderers.parallelEdges/sigma.canvas.edges.curvedArrow.js"></script>
<script src="static/plugins/sigma.renderers.parallelEdges/sigma.canvas.edgehovers.curve.js"></script>
<script src="static/plugins/sigma.renderers.parallelEdges/sigma.canvas.edgehovers.curvedArrow.js"></script>
<script src="static/plugins/sigma.plugins.filter/sigma.plugins.filter.js"></script>
<script src="static/plugins/sigma.parsers.gexf/gexf-parser.js"></script>
<script src="static/plugins/sigma.parsers.gexf/sigma.parsers.gexf.js"></script>



<div class="col-md-6 col-centered  col-md-offset-3">
<center><label style="font-weight:300; font-size:24px ;">10 Largest communities build by:  <span style="font-size:36px; color:#6495ED; font-weight:bold;"> {{output.words}} </span> </label><center>
</div>

<div class = "container">
<div class="row">
<div class="col-md-10 col-centered col-md-offset-1">
<!DOCTYPE html>
<meta charset="utf-8">
<style>

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

text {
  pointer-events: none;
  font: 10px sans-serif;
}


.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}


    .d3-tip {
      line-height: 1;
      padding: 6px;
      background: rgba(0, 0, 0, 0.3);
      color: #fff;
      border-radius: 4px;
      font-size: 20px;
    }
 
    /* Creates a small triangle extender for the tooltip */
    .d3-tip:after {
      box-sizing: border-box;
      display: inline;
      font-size: 10px;
      width: 100%;
      line-height: 1;
      color: rgba(0, 0, 0, 0.8);
      content: "\25BC";
      position: absolute;
      text-align: center;
    }
 
    /* Style northward tooltips specifically */
    .d3-tip.n:after {
      margin: -2px 0 0 0;
      top: 100%;
      left: 0;
    }



</style>

<svg id="outfigure" width="960" height="800"></svg>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="static/js/d3-tip.js"></script>


<script>

var svg = d3.select("#outfigure"),
    width = +svg.attr("width"),
    height = +svg.attr("height");

var color = d3.scaleOrdinal(d3.schemeCategory20);
var tool_tip = d3.tip()
      .attr("class", "d3-tip")
      .offset([-8, 0])
      .html(function(d) { return  d.name; });
    svg.call(tool_tip);



var simulation = d3.forceSimulation()
    .force("link", d3.forceLink().id(function(d) { return d.id; }).strength(function(d){return 2}))
    .force("charge", d3.forceManyBody().strength(-20))
    .force("center", d3.forceCenter(width / 2, height / 2))
    .force("y", d3.forceY(0).strength(0.15))
    .force("x", d3.forceX(0).strength(0.1));


d3.json("static/D3_graph_data.json", function(error, graph) {
  if (error) throw error;



  var link = svg.append("g")
     .attr("class", "links")
    .selectAll("line")
    .data(graph.links)
    .enter().append("line")
    .attr("stroke-width", function(d) { return Math.sqrt(d.value); });



  var node = svg.append("g")
        .attr("class", "nodes")
	.selectAll(".node")
	.data(graph.nodes)
	.enter().append("circle")
      .attr("r", function(d){return 1.5+1.5*Math.sqrt(d.size);})
      .attr("fill", function(d) { return color(5+d.group); })
      .on("mouseover", tool_tip.show)
      .on("mouseout", tool_tip.hide)
      .call(d3.drag()
          .on("start", dragstarted)
          .on("drag", dragged)
          .on("end", dragended));


  
//node.append("title")
  //    .text(function(d) { return d.id; });


 node.append("text")
      .attr("dx", 12)
      .attr("dy", ".35em")
      .text("dogg");


  simulation
      .nodes(graph.nodes)
      .on("tick", ticked);

  simulation.force("link")
      .links(graph.links);


  function ticked() {
    link
        .attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    node
        .attr("cx", function(d) { return d.x; })
        .attr("cy", function(d) { return d.y; });
  }
});

function dragstarted(d) {
  if (!d3.event.active) simulation.alphaTarget(0.3).restart();
  d.fx = d.x;
  d.fy = d.y;
}

function dragged(d) {
  d.fx = d3.event.x;
  d.fy = d3.event.y;
}

function dragended(d) {
  if (!d3.event.active) simulation.alphaTarget(0);
  d.fx = null;
  d.fy = null;
}

</script>

</div>

</div>

</div>




<div class = "container">
<div class="row">

               <div class="col-md-10 col-md-offset-1">
                   <table class="table table-bordered text-center" >
                     <thead >
                       <tr>
                         <th class="text-center" >topic</th>
                         <th class="text-center">time from</th>
			 <th class="text-center">time end</th>
			 <th class="text-center">number nodes</th>
                         <th class="text-center">number edges</th>
                         <th class="text-center">density</th>
                       </tr>
                     </thead>
                     <tbody>
                       {% for val in [output] %}
                       <tr>
                         <td>{{val.words}}</td>
			 <td>{{val.time_from}}</td>
                         <td>{{val.time_end}}</td>
			 <td>{{val.numnodes}}</td>
                         <td>{{val.numedges}}</td>
                         <td>{{val.densityval}}</td>
                       </tr>
                       {% endfor %}
                     </tbody>
                   </table>
               </div>
       </div>

</div>


        <br /><br />
        <br /><br />


<div class="col-md-6 col-centered  col-md-offset-3">
<center><label style="font-weight:300; font-size:24px ;"> Top 10 users who like to talk about:  <span style="font-size:36px; color:#6495ED; font-weight:bold;"> {{output.words}} </span> </label><center>
</div>




<div class="container">
     <div class="starter-template">
       <div class="row" style="height:auto;">
               <div class="col-md-6 col-md-offset-3">
                   <table class="table table-striped text-center">
                     <thead>
                       <tr >
                         <th class ="text-center">User with Most degree</th>
                         <th class ="text-center">degree</th>
                       </tr>
                     </thead>
                     <tbody>
                       {% for val in output.top_degree %}
                       <tr >
                         <td>{{val.user_name}}</td>
			 <td>{{val.degrees}}</td>
                       </tr>
                       {% endfor %}
                     </tbody>
                   </table>
               </div>
       </div>
     </div>
   </div>



<div id="bardegree" style="min-width: 300px; height: 400px; margin: 0 auto"></div>

<script>


$(function () {
    // Create the chart
    $('#bardegree').highcharts({
    chart: {
        type: 'column'
    },
    title: {
        text: 'User\'s Degree',
	styole:{
                fontSize: '48px',
                fontFamily: 'Verdana, sans-serif'
	}
    },
    xAxis: {
        type: 'category',
        labels: {
            rotation: 0,
            style: {
                fontSize: '20px',
                fontFamily: 'Verdana, sans-serif'
            }
        }
    },
    yAxis: {
        min: 0.5,
	type : 'logarithmic',
        title: {
            text: 'Count'
        }
    },
    legend: {
        enabled: false
    },
    tooltip: {
        pointFormat: 'Count: <b>{point.y:.1f}</b>'
    },
    series: [{
        name: 'Population',
        data: {{output.degreebar|safe}},
            dataLabels: {
            enabled: true,
            rotation: -90,
            color: '#FFFFFF',
            align: 'right',
            format: '{point.y}', // one decimal
            y: 10, // 10 pixels down from the top
            style: {
                fontSize: '13px',
                fontFamily: 'Verdana, sans-serif'
            }
        }
    }]
})});

</script>






<div id="barcomponent" style="min-width: 300px; height: 400px; margin: 0 auto"></div>

<script>


$(function () {
    // Create the chart
    $('#barcomponent').highcharts({
    chart: {
        type: 'column'
    },
    title: {
        text: 'Communities Size'
    },
    xAxis: {
        type: 'category',
        labels: {
            rotation: 0,
            style: {
                fontSize: '20px',
                fontFamily: 'Verdana, sans-serif'
            }
        }
    },
    yAxis: {
        min: 0.5,
	type : 'logarithmic',
        title: {
            text: 'Count'
        }
    },
    legend: {
        enabled: false
    },
    tooltip: {
        pointFormat: 'Count: <b>{point.y:.1f}</b>'
    },
    series: [{
        name: 'Population',
        data: {{output.componentbar|safe}},
            dataLabels: {
            enabled: true,
            rotation: -90,
            color: '#FFFFFF',
            align: 'right',
            format: '{point.y}', // one decimal
            y: 10, // 10 pixels down from the top
            style: {
                fontSize: '13px',
                fontFamily: 'Verdana, sans-serif'
            }
        }
    }]
})});

</script>



        <br /><br />
        <br /><br />


<div class="col-md-8 col-centered  col-md-offset-2">
<center><label style="font-weight:300; font-size:24px ;"> Examples of transactions related to the topic:  <span style="font-size:36px; color:#6495ED; font-weight:bold;"> {{output.words}} </span> </label><center>
</div>



<div class="container">
     <div class="starter-template">
       <div class="row" style="height:auto;">
               <div class="col-md-12 col-md-offset-0">
                   <table class="table table-striped" style="font-family:arial; font-size: 16pt;">
                     <thead>
                       <tr align="left">
                         <th class="text-left">actor id</th>
                         <th class="text-left">target id</th>
                         <th class="text-center">time sended</th>
                         <th class="text-center">message</th>
                       </tr>
                     </thead>
                     <tbody>
                       {% for val in output.example %}
                       <tr align="left">
                         <td>{{val.actor_name}}</td>
                         <td>{{val.target_name}}</td>
                         <td>{{val.time_sended}}</td>
                         <td>{{val.message}}</td>
                       </tr>
                       {% endfor %}
                     </tbody>
                   </table>
               </div>
       </div>
     </div>
   </div>
{% endblock %}
